html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background: black;
  border-radius: 10px;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.motion-styles {
  background-color: white;
  height: 100vh;
}
